/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #333;
    background-image: url('/resources/fondolineas.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Estilo del contenedor principal (hero) */
.hero {
    position: relative;
    background: #ffffff; /* Gris suave */
    border-radius: 20px 20px 0 0; /* Bordes redondeados solo en la parte superior */
    padding: 40px 0; /* Ajuste de padding */
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05); /* Sombra sutil */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Altura fija */
    text-align: center;
}

.hero .logo {
    max-height: 150px; /* Ajuste del tamaño del logo */
}

.hero-content {
    text-align: center;
}

.hero-content p {
    font-size: 1.5rem; /* Aumentado el tamaño del texto */
    font-weight: 600; /* Un poco más de peso en el texto */
    margin-top: 20px;
}

/* Estilo del contenido de la descripción del equipo */
.project-description, .impact-container {
    margin-top: 50px;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.project-description {
    background: #f0f7ff;
}

.impact-container {
    background-color: #e1f7f7;
}

.project-description h2, .impact-container h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem; /* Aumentado el tamaño de las letras */
    font-weight: 700;
    color: #444;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.project-description p, .impact-container p, .impact-container ul {
    text-align: justify;
    line-height: 1.6;
    font-size: 1.2rem; /* Aumentado el tamaño de las letras */
}

.impact-container ul {
    list-style-type: disc;
    margin-left: 40px;
}

.row img {
    margin-top: 20px;
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    max-width: 350px; /* Tamaño máximo para las imágenes */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    border-radius: 10px;
}

/* Hero content */
.hero-content {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

/* Estilo de la navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #06d2dd !important;
    font-weight: bold;
}

/* Responsividad */
@media (min-width: 768px) {
    .about-container {
        margin: 0 50px;
    }

    .row img {
        max-width: 450px; /* Tamaño ligeramente mayor en pantallas más grandes */
    }

    .project-description h2, .impact-container h2 {
        font-size: 3.5rem; /* Tamaño de letra más grande en pantallas grandes */
    }

    .project-description p, .impact-container p {
        font-size: 1.5rem; /* Texto más grande en pantallas grandes */
    }

    .hero-content p {
        font-size: 2rem; /* Aumentar el tamaño del texto para pantallas grandes */
    }
}

@media (max-width: 767px) {
    .row img {
        max-width: 300px; /* Tamaño más pequeño en pantallas más pequeñas */
    }

    .project-description h2, .impact-container h2 {
        font-size: 2.5rem; /* Fuente más grande en móviles */
    }

    .project-description p, .impact-container p {
        font-size: 1.4rem; /* Aumentado el tamaño de las letras para mejorar legibilidad */
    }

    .hero-content p {
        font-size: 1.8rem; /* Aumentado para pantallas móviles */
    }
}
