/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #333;
    background-image: url('/resources/fondolineas.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Estilo de la navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px; /* Reducir el tamaño de la fuente */
    transition: color 0.3s ease;
}

/* Cambiar color cuando está activo o seleccionado */
nav ul li a:focus, 
nav ul li a:active,
nav ul li a.active-link {
    color: #06d2dd !important; /* Azul celeste */
    font-weight: bold;
}

/* Efecto hover */
nav ul li a:hover {
    color: #06d2dd !important;
    font-weight: bold;
}

/* Hero content */
.hero-content {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

/* Responsividad */
@media (min-width: 768px) {
    .about-container {
        margin: 0 50px;
    }

    .row img {
        max-width: 450px; /* Tamaño ligeramente mayor en pantallas más grandes */
    }

    .project-description h2, .impact-container h2 {
        font-size: 3.5rem; /* Tamaño de letra más grande en pantallas grandes */
    }

    .project-description p, .impact-container p {
        font-size: 1.5rem; /* Texto más grande en pantallas grandes */
    }

    .hero-content p {
        font-size: 2rem; /* Aumentar el tamaño del texto para pantallas grandes */
    }
}

@media (max-width: 767px) {
    .row img {
        max-width: 300px; /* Tamaño más pequeño en pantallas más pequeñas */
    }

    .project-description h2, .impact-container h2 {
        font-size: 2.5rem; /* Fuente más grande en móviles */
    }

    .project-description p, .impact-container p {
        font-size: 1.4rem; /* Aumentado el tamaño de las letras para mejorar legibilidad */
    }

    .hero-content p {
        font-size: 1.8rem; /* Aumentado para pantallas móviles */
    }
}
